<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.kibs.mapper.AiClippingMapper">

    <insert id="insertAiClipping" parameterType="com.mtf.kibs.dto.AiClippingDTO" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO ai_clipping (
            title, content, view_cnt, share_cnt, send_success_cnt, send_fail_cnt, display_yn, del_yn, reg_date, mod_date
        ) VALUES (
                     #{title}, #{content}, 0, 0, 0, 0, 'N', 'N', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
                 )
    </insert>

    <select id="selectAiClippingList" parameterType="com.mtf.kibs.dto.AiClippingDTO" resultType="com.mtf.kibs.dto.AiClippingDTO">
        SELECT
        seq,
        title,
        content,
        view_cnt AS viewCnt,
        share_cnt AS shareCnt,
        send_success_cnt AS sendSuccessCnt,
        send_fail_cnt AS sendFailCnt,
        display_yn AS displayYn,
        del_yn AS delYn,
        DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') AS regDate,
        DATE_FORMAT(mod_date, '%Y-%m-%d %H:%i:%s') AS modDate
        FROM ai_clipping
        WHERE del_yn = 'N'
        <if test="displayYn != null and displayYn != ''">
            AND display_yn = #{displayYn}
        </if>
        <if test="startDate != null and startDate != ''">
            AND reg_date <![CDATA[>=]]> CONCAT(#{startDate}, ' 00:00:00')
        </if>
        <if test="endDate != null and endDate != ''">
            AND reg_date <![CDATA[<=]]> CONCAT(#{endDate}, ' 23:59:59')
        </if>
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <when test="searchType == '제목'">
                    AND title LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchType == '내용'">
                    AND content LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchType == '내용+제목'">
                    AND (title LIKE CONCAT('%', #{searchKeyword}, '%') OR content LIKE CONCAT('%', #{searchKeyword}, '%'))
                </when>
                <otherwise>
                    AND title LIKE CONCAT('%', #{searchKeyword}, '%')
                </otherwise>
            </choose>
        </if>
        <if test="filterKeyword != null and filterKeyword != ''">
            AND content LIKE CONCAT('%', #{filterKeyword}, '%')
        </if>
        ORDER BY seq DESC
        <if test="limit != null and limit > 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="selectAiClippingCount" parameterType="com.mtf.kibs.dto.AiClippingDTO" resultType="int">
        SELECT COUNT(*)
        FROM ai_clipping
        WHERE del_yn = 'N'
        <if test="displayYn != null and displayYn != ''">
            AND display_yn = #{displayYn}
        </if>
        <if test="startDate != null and startDate != ''">
            AND reg_date <![CDATA[>=]]> CONCAT(#{startDate}, ' 00:00:00')
        </if>
        <if test="endDate != null and endDate != ''">
            AND reg_date <![CDATA[<=]]> CONCAT(#{endDate}, ' 23:59:59')
        </if>
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <when test="searchType == '제목'">
                    AND title LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchType == '내용'">
                    AND content LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchType == '내용+제목'">
                    AND (title LIKE CONCAT('%', #{searchKeyword}, '%') OR content LIKE CONCAT('%', #{searchKeyword}, '%'))
                </when>
                <otherwise>
                    AND title LIKE CONCAT('%', #{searchKeyword}, '%')
                </otherwise>
            </choose>
        </if>
        <if test="filterKeyword != null and filterKeyword != ''">
            AND content LIKE CONCAT('%', #{filterKeyword}, '%')
        </if>
    </select>

    <select id="selectAiClippingLatest" resultType="com.mtf.kibs.dto.AiClippingDTO">
        SELECT
            seq,
            title,
            content,
            view_cnt AS viewCnt,
            share_cnt AS shareCnt,
            send_success_cnt AS sendSuccessCnt,
            send_fail_cnt AS sendFailCnt,
            del_yn AS delYn,
            DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') AS regDate,
            DATE_FORMAT(mod_date, '%Y-%m-%d %H:%i:%s') AS modDate
        FROM ai_clipping
        WHERE del_yn = 'N'
        AND display_yn = 'Y'
        ORDER BY reg_date DESC
        LIMIT 1
    </select>

    <update id="updateDisplayStatus" parameterType="map">
        UPDATE ai_clipping
        SET display_yn = #{displayYn}
        WHERE seq = #{seq}
    </update>

    <select id="selectAiClippingDetail" parameterType="String" resultType="com.mtf.kibs.dto.AiClippingDTO">
        SELECT
            seq,
            title,
            content,
            view_cnt AS viewCnt,
            share_cnt AS shareCnt,
            send_success_cnt AS sendSuccessCnt,
            send_fail_cnt AS sendFailCnt,
            display_yn AS displayYn,
            del_yn AS delYn,
            DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') AS regDate,
            DATE_FORMAT(mod_date, '%Y-%m-%d %H:%i:%s') AS modDate
        FROM ai_clipping
        WHERE seq = #{seq}
    </select>

    <update id="updateAiClipping" parameterType="com.mtf.kibs.dto.AiClippingDTO">
        UPDATE ai_clipping
        SET
            title = #{title},
            content = #{content}
        WHERE seq = #{seq}
    </update>

    <update id="deleteAiClipping" parameterType="String">
        UPDATE ai_clipping
        SET del_yn = 'Y'
        WHERE seq = #{seq}
    </update>

    <update id="updateViewCnt" parameterType="String">
        UPDATE ai_clipping
        SET view_cnt = view_cnt + 1
        WHERE seq = #{seq}
    </update>

    <update id="updateShareCnt" parameterType="String">
        UPDATE ai_clipping
        SET share_cnt = share_cnt + 1
        WHERE seq = #{seq}
    </update>

    <update id="updateSendCnt" parameterType="com.mtf.kibs.dto.AiClippingDTO">
        UPDATE ai_clipping
        SET
            send_success_cnt = send_success_cnt + #{sendSuccessCnt},
            send_fail_cnt = send_fail_cnt + #{sendFailCnt}
        WHERE seq = #{seq}
    </update>

    <!-- ==== 키워드 관리 ==== -->
    <select id="selectKeywordList" resultType="com.mtf.kibs.dto.AiClippingKeywordDTO">
        SELECT
            seq,
            keyword,
            DATE_FORMAT(reg_date, '%Y-%m-%d') AS regDate
        FROM ai_clipping_keyword
        ORDER BY keyword ASC
    </select>

    <select id="checkKeywordDuplicate" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM ai_clipping_keyword
        WHERE keyword = #{keyword}
    </select>

    <insert id="insertKeyword" parameterType="com.mtf.kibs.dto.AiClippingKeywordDTO">
        INSERT INTO ai_clipping_keyword (keyword)
        VALUES (#{keyword})
    </insert>

    <delete id="deleteKeyword" parameterType="int">
        DELETE FROM ai_clipping_keyword
        WHERE seq = #{seq}
    </delete>

</mapper>